/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 2000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: #ffffff;
    font-size: 38px;
    text-align: center;
}
 

/* ESTILO DO CABEÇALHO */
header {
    padding: 1px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #868383;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-login button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #3d3d3d;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: antiquewhite;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #504f4f;
    transform: scale(1.05);
}

.interface .logo img {
max-height:  250px;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}


.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    height: 300px; width: 300px;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

.interface .img-sobre img{
    width: 270px;
    height: 300px;
}

* ESTILO DAS ESPECIALIDADES */
section.especiliadades {
    padding: 40px 4%;
}

section.especiliadades .flex {
    gap: 60px;
}

.especiliadades .especialidades-box {
    color: #fff;
    padding: 20px;
    border-radius: 50px;
    margin-top: 40px;
    transition: .2s; 
    margin-right: 40px;
    margin-left: 40px;
}

.especiliadades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.especiliadades .especialidades-box i {
    font-size: 60px;
    color: #ffffff;
}

.especiliadades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.especiliadades .titulo{
    margin-top: 100px;
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    margin-top: 100px;
}


.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #b1b1b1;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.img-port {
    width: 300px;
    height: 300px;
    background-size: cover;
    
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #d4d3d3;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

