body {
    font-family: 'Roboto', sans-serif;
    background-color: #383737;
    color: #fff;
}

a {
    text-decoration: none;
    color: rgb(177, 169, 173);
}

#login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.name input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #1e1c2e;
    color: #b6b6b6;
    margin-bottom: 15px;
}

.email input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #14131f;
    color: #b6b6b6;
}

.senha input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color: #14131f;
    color: #b6b6b6;
    margin-top: 15px;
}

.entrar input {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(19, 18, 29);
    color: #b6b6b6;
}

input::placeholder {
    color: #b6b6b6;
}

h1 {
    color: #FAFAFA;
}

.caixa {
    margin-top: 65px;
}

.caixa img {
    width: 200px;
    height: 150px;
    border-radius: 20px;
}

input:focus {
    outline: none;
}

.principal .caixa img {
    width: 1000px;
    height: 300px;
}